.columns {
  color: white;
}

.columns > div {
  display: flex;
  flex-direction: column;
  position: relative;
}

.columns picture {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.columns > div > div {
  order: 1;
  background-color: var(--overlay-dim-background);
  padding: 32px;
}

.columns > div > .columns-img-col {
  order: 0;
  background-color: unset;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns p {
  background-color: var(--highlight-color);
  color: var(--text-color);
  padding: 16px;
  border-radius: 16px;
}

.columns div div:first-of-type p {
  background-color: var(--link-color);
}

.columns div div p.button-container {
  background-color: unset;
  padding: unset;
}

main .section.columns-container {
  padding: 0;
}

.columns h1, .columns h2, .columns h3 {
  text-shadow: 2px 1px #282B32;
}
