@font-face {
    font-family: 'Saira Black';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/saira-black.ttf');
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/open-sans.ttf');
  }